body {
    margin: 0;
    padding: 0;
    background: url('img/emylly.jpg') no-repeat center center fixed;
    background-size:contain ;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 500px;
    margin: 580px auto;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  }
  
  h1 {
    color: #d63384;
  }
  
  p {
    margin: 10px 0;
    font-size: 16px;
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  button {
    background-color: #25D366;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #20b158;
  }
  